.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f0d827;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}
